<div id="chart-card" class="chart-card">
  <apx-chart
    [series]="chartOptions.series || []"
    [chart]="chartOptions.chart || help"
    [labels]="chartOptions.labels || []"
    [colors]="chartOptions.colors || []"
    [dataLabels]="chartOptions.dataLabels || {}"
    [responsive]="chartOptions.responsive || []"
    [legend]="chartOptions.legend || {}"
    [tooltip]="chartOptions.tooltip || {}"
    [stroke]="chartOptions.stroke || {}"
    [plotOptions]="chartOptions.plotOptions || {}"
  ></apx-chart>
</div>
