<ion-content class="liquid-background" fullscreen>
  <app-spinner [visible]="loading"></app-spinner>

  <div class="heading-row">
    <h1 class="heading-text">Workout Tracking</h1>
    <ion-icon name="fitness-outline" class="heading-icon"></ion-icon>
    <ion-icon name="fitness-outline" class="heading-icon"></ion-icon>
    <ion-icon name="fitness-outline" class="heading-icon"></ion-icon>
  </div>

  <app-exercise-name
    [selectedEquipment]="selectedEquipment"
    (deselect)="selectedEquipment = null"
  ></app-exercise-name>

  <app-last-data [exercise]="selectedEquipment"></app-last-data>

  <div class="spacer"></div>

  <div class="input-wrapper">
    <label class="custom-label" for="duration">Duration (minutes)</label>
    <input
      id="duration"
      type="number"
      step="0.01"
      [(ngModel)]="duration"
      placeholder="Enter duration"
      class="glass-input"
    />

    <label class="custom-label" for="distance"
      >Distance ({{ distanceUnit }})</label
    >
    <input
      id="distance"
      type="number"
      step="0.01"
      [(ngModel)]="distance"
      placeholder="Enter distance"
      class="glass-input"
    />

    <label class="custom-label" for="calories">Calories</label>
    <input
      id="calories"
      type="number"
      [(ngModel)]="calories"
      placeholder="Enter calories burned"
      class="glass-input"
    />
  </div>

  <app-next-button
    [saveExercise]="saveExercise"
    [disabled]="!isValidCardio()"
  ></app-next-button>
  <app-finish-button
    [saveExercise]="saveExercise"
    [disabled]="!isValidCardio()"
  ></app-finish-button>
</ion-content>
