<ion-tabs>
  <ion-tab-bar slot="bottom" class="glass-tabbar">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="statistics" href="/tabs/statistics">
      <ion-icon aria-hidden="true" name="stats-chart"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="add_workout" href="/tabs/add_workout">
      <ion-icon aria-hidden="true" name="add-circle"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="exercises" href="/tabs/exercises">
      <ion-icon aria-hidden="true" name="barbell"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon aria-hidden="true" name="settings"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
