<!-- Trigger Button (wie ein Select) -->
<div class="custom-select glass-select" (click)="openSelect()">
  <span>{{ getExerciseName(selectedExercise) || 'Choose Exercise' }}</span>
  <span class="arrow">▼</span>
</div>

<!-- Fullscreen Modal -->
<div class="glass-modal fullscreen" *ngIf="showSelect" (click)="closeSelect()">
  <div class="glass-modal-content" (click)="$event.stopPropagation()">
    <h2 class="modal-title">Choose Exercise</h2>

    <ul class="modal-options">
      <li 
        *ngFor="let exercise of exercises" 
        (click)="selectExercise(exercise.id)"
        [class.active]="exercise.id === selectedExercise"
      >
        {{ exercise.name }}
      </li>
    </ul>

    <div class="modal-actions">
      <button class="modal-btn cancel" (click)="closeSelect()">Cancel</button>
    </div>
  </div>
</div>



@if (exerciseType === 'Cardio') {
  <app-cardio-chart></app-cardio-chart>
}

@if (exerciseType === 'Strength') {
  <app-strength-chart></app-strength-chart>
  <app-strength-information></app-strength-information>
}

@if (exerciseType === 'Bodyweight' ) {
  <app-bodyweight-chart></app-bodyweight-chart>
}
