<ion-content [scrollEvents]="true" fullscreen class="liquid-background">
  <div class="container">
    <h1 class="heading">Welcome at LlamaLogs!</h1>

    <ion-button class="start-button" (click)="startWorkout()">
      <ion-icon name="fitness-outline" slot="start"></ion-icon>
      Start your Workout!
      <ion-icon name="fitness-outline" slot="end"></ion-icon>
    </ion-button>

    <app-last-workout></app-last-workout>
    <app-last-workout-information></app-last-workout-information>
  </div>
</ion-content>
